html { 
    background: url(/images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.text{
    font-family: 'New Tegomin', serif;
    color: white;
    text-align: center;
}
.div1{
    margin: auto;
    width: 60%;
}
.link{
    color: yellow;
}
@media only screen and (max-width: 800px) {
    
}